[user]
	name = Sanjay Kumar
	email = sanjay.k.sanj@gmail.com

[color]
    branch = auto
    diff = auto
    interactive = auto
    pager = true
    status = auto
    ui = true

[color "status"]
    added = green
    changed = yellow
    untracked = red

[push]
    default = current

[core]
    autocrlf = input
    pager = less -FRSX

[alias]
    br = branch
    ci = commit
    co = checkout
    st = status
    lg = log --graph --pretty=format:'%C(yellow)%h%C(auto)%d%Creset %s %C(white)- %an, %ar%Creset'
	d = difftool

[diff]
	tool = vimdiff

[difftool]
	prompt = false

[merge]
	tool = vimdiff
	conflictstyle = diff3

[mergetool]
	prompt = false
